drop table Document
go
CREATE TABLE [dbo].[Document](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DocID] [nvarchar](200) NULL,
	[DocDate] [datetime] NULL,
	[Source] [nvarchar](200) NULL,
	[Content] [nvarchar](200) NULL,
	[Phone] [nvarchar](200) NULL,
	[Misc] [nvarchar](200) NULL,
	[Person] [nvarchar](200) NULL,
	[Location] [nvarchar](200) NULL,
	[Organisation] [nvarchar](200) NULL,
	[Money] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Document] ON
INSERT [dbo].[Document] ([ID], [DocID], [DocDate], [Source], [Content], [Phone], [Misc], [Person], [Location], [Organisation], [Money]) VALUES (1, N'se5', CAST(0x0000936800000000 AS DateTime), NULL, N'Report Date 27 April, 2003. Intercept of cell phone 804-774-8920. In a very brief call from this number to phone number 703-659-2317 on 26 April, 2003, the caller speaks in Arabic. A translation reads', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Document] ([ID], [DocID], [DocDate], [Source], [Content], [Phone], [Misc], [Person], [Location], [Organisation], [Money]) VALUES (2, N'se5', CAST(0x0000936700000000 AS DateTime), NULL, N'Report Date 27 April, 2003. Intercept of cell phone 804-774-8920. In a very brief call from this number to phone number 703-659-2317 on 26 April, 2003, the caller speaks in Arabic. A translation reads', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Document] ([ID], [DocID], [DocDate], [Source], [Content], [Phone], [Misc], [Person], [Location], [Organisation], [Money]) VALUES (3, N'se5', NULL, NULL, N'Report Date 27 April, 2003. Intercept of cell phone 804-774-8920. In a very brief call from this number to phone number 703-659-2317 on 26 April, 2003, the caller speaks in Arabic. A translation reads', N'703-659-2317', NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[Document] OFF
