@{
    ViewBag.Title = "Contact:-";

}

<h1>@ViewBag.Title.</h1>



<address>
    <h3> PARAG & SHANTANU<br /></h3>
   
    <h3>01651084 & 01694189<br /></h3>

</address>

<address>
    <strong>Email-Id:</strong>   <a href="pdhere@umassd.edu">pdhere@umassd.edu</a><br />
    <strong>Email-Id:</strong> <a href="sgundre@umassd.edu">sgundre@umassd.edu</a>
</address>