@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/images/csi.png" width="1000" height="300" />

</div>

<div class="row">

    <div align="justify" class="col-md-4">
        <h2>Purpose</h2>
        <p>
            Purpose of this web application is to provide details view of criminal data given by CSI and FBI.
        </p>

    </div>

    <div align="justify" class="col-md-4">

        <h2>Operations</h2>

        <p>Here we can easily search particular file from given dataset and can do operations on the given data for solving complex problem.</p>
    
    </div>

</div>